
<appSettings>
	<add key="SMTPHost" value="smtp.gmail.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="smanageroop@gmail.com"/>
	<add key="FromEmailPassword" value="xcbetsuodiyyfvqq"/>
	<add key="FromName" value="SMaNa"/>
	<add key="AdminEmail" value="20521133@gm.uit.edu.vn"/>
	<!--<add key="CurrentLink" value="http://localhost:55429/"/>
<add key="EnableBundles" value="false"/>-->

	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<add key="Url" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
	<add key="ReturnUrl" value="https://localhost:44368/Payment/PaymentConfirm"/>
	<add key="TmnCode" value="XS1Z4282"/>
	<add key="HashSecret" value="CUPLRIQRLWBQKVSZTRWFKTCLRVPXUHFL"/>
</appSettings>

