<nav>
    <i class="fa-sharp fa-solid fa-bars toggle-sidebar"></i>
   
    <div class="profile d-none">
        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
        <ul class="profile-link">
            <li><a href=""><i class="fa-solid fa-user icon"></i>Profile</a></li>
            <li><a href=""><i class="fa-solid fa-gear icon"></i>Setting</a></li>
            <li><a href=""><i class="fa-solid fa-outdent icon"></i>Logout</a></li>

        </ul>
    </div>
</nav>
